<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Booklist</title>
</head>
<body>
    <h1 style="text-align: center">Books</h1>
    <table class="table table-striped" style="width: 750px;">
        <thead>
        <tr style="text-align: center">
            <td>Author</td>
            <td>Title</td>
            <td>ISBN</td>
            <td>Year</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${booklist}">
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.publicationYear}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
                <a class="btn btn-info" th:href="@{/edit/{id}(id=${book.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/add" class="btn btn-success">Add book</a>
</body>
</html>