<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editbook</title>
</head>
<body>
    <h1>Edit book</h1>
    <form th:method="post" action="#" th:action="@{/save}" th:object="${book}">
        <input type="hidden" th:field="*{id}" />
        <p>Author: <input type="text" th:field="*{author}" placeholder="Author Name" /></p>
        <p>Title: <input type="text" th:field="*{title}" placeholder="Book Title" /></p>
        <p>isbn: <input type="text" th:field="*{isbn}" placeholder="isbn" /></p>
        <p>publication Year: <input type="text" th:field="*{publicationYear}" placeholder="yyyy" /></p>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>